@import url(http://fonts.googleapis.com/css?family=Bree+Serif);
@import url(http://fonts.googleapis.com/css?family=Gudea);

a, a:visited
{
	color:teal;
}

h1,h2,h3,h4,h5,h6
{
	font-family: 'Bree Serif', serif;
	font-weight:normal;
}

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }

body
{
	font-family: 'Gudea', sans-serif;
}

.wrapper>header
{
	margin-bottom:2em;
	padding-bottom:2em;
	border-bottom:1px solid #eee;
	font-weight:bold;
	background-image:url(../img/boblogo.png);
	background-position:right;
	background-repeat:no-repeat;

	h1
	{
		font-weight:bold;
	}

	h2
	{
		font-family: 'Gudea', sans-serif;
		font-weight:bold;
	}
}

.wrapper>footer
{
	margin-top:2em;
	padding-top:2em;
	border-top:1px solid #eee;
	color:#999;

	p
	{
		margin:0;
		padding:0.2em 0;
	}
}

.wrapper
{
	max-width:800px;
	margin:2em auto;
}

.sidebar
{
	border-right:1px solid #fafafa;
}

.menu, .menu ul
{
	list-style-type:none;
	padding:0;
	margin:0;

	li
	{
		padding:0.3em 0;
	}
}

.menu
{
	margin-bottom:2em;
}

.menu ul
{
	margin-left:2em;
}

.content
{
	pre
	{
		margin:2em 0;
	}

	h1
	{
		margin-bottom:0.5em;
	}

	h2,h3,h4,h5,h6
	{
		margin-top:1.5em;
	}
}

.content p code
{
	padding:0 0.2em;
	line-height:1em;
}

.content p, .content li
{
	line-height:1.8em;
}

.hll { background-color: #ffffcc }
.c { color: #408080; font-style: italic } /* Comment */
.err { border: 1px solid #FF0000 } /* Error */
.k { color: #555; font-weight: bold } /* Keyword */
.o { color: #666666 } /* Operator */
.cm { color: #408080; font-style: italic } /* Comment.Multiline */
.cp { color: #BC7A00 } /* Comment.Preproc */
.c1 { color: #ccc; font-style: italic } /* Comment.Single */
.cs { color: #408080; font-style: italic } /* Comment.Special */
.gd { color: #A00000 } /* Generic.Deleted */
.ge { font-style: italic } /* Generic.Emph */
.gr { color: #FF0000 } /* Generic.Error */
.gh { color: #000080; font-weight: bold } /* Generic.Heading */
.gi { color: #00A000 } /* Generic.Inserted */
.go { color: #808080 } /* Generic.Output */
.gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.gs { font-weight: bold } /* Generic.Strong */
.gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.gt { color: #0040D0 } /* Generic.Traceback */
.kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.kp { color: #008000 } /* Keyword.Pseudo */
.kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.kt { color: #B00040 } /* Keyword.Type */
.m { color: #666666 } /* Literal.Number */
.s { color: #D14 } /* Literal.String */
.na { color: teal; } /* Name.Attribute */
.nb { color: #008000 } /* Name.Builtin */
.nc { color: teal; font-weight: bold } /* Name.Class */
.no { color: #880000 } /* Name.Constant */
.nd { color: #AA22FF } /* Name.Decorator */
.ni { color: #999999; font-weight: bold } /* Name.Entity */
.ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.nf { color: teal } /* Name.Function */
.nl { color: #A0A000 } /* Name.Label */
.nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.nt { color: teal; font-weight: bold } /* Name.Tag */
.nv { color: #19177C } /* Name.Variable */
.ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.w { color: #bbbbbb } /* Text.Whitespace */
.mf { color: #666666 } /* Literal.Number.Float */
.mh { color: #666666 } /* Literal.Number.Hex */
.mi { color: #666666 } /* Literal.Number.Integer */
.mo { color: #666666 } /* Literal.Number.Oct */
.sb { color: #D14 } /* Literal.String.Backtick */
.sc { color: #BA2121 } /* Literal.String.Char */
.sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.s2 { color: #BA2121 } /* Literal.String.Double */
.se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.sh { color: #BA2121 } /* Literal.String.Heredoc */
.si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.sx { color: #D14 } /* Literal.String.Other */
.sr { color: #D14 } /* Literal.String.Regex */
.s1 { color: #D14 } /* Literal.String.Single */
.ss { color: #19177C } /* Literal.String.Symbol */
.bp { color: #008000 } /* Name.Builtin.Pseudo */
.vc { color: #19177C } /* Name.Variable.Class */
.vg { color: #19177C } /* Name.Variable.Global */
.vi { color: #19177C } /* Name.Variable.Instance */
.il { color: #666666 } /* Literal.Number.Integer.Long */
