<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>{{page.title}} - Bob for Laravel</title>
	<meta name="description" content="Bob, a command line multi-generator for the Laravel PHP Framework">

	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="/laravel-bob/css/bootstrap.min.css">
	<link rel="stylesheet/less" href="/laravel-bob/css/style.less">

	<script src="/laravel-bob/js/libs/modernizr-2.5.3.min.js"></script>
	<script src="/laravel-bob/js/libs/less-1.2.2.min.js"></script>
</head>
<body>
	<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
	<div class="wrapper">
		<header>
				<h1>Bob</h1>
				<h2>A command line multi-generator for the <a href="http://www.laravel.com">Laravel PHP Framework</a>.</h2>

		</header>
		<div class="row-fluid" role="main">
			<aside class="sidebar span3">
				<h3>Welcome</h3>
				<ul class="menu">
					<li><a href="/laravel-bob/index.html">Home</a></li>
					<li><a href="/laravel-bob/docs/install.html">Installation</a></li>
					<li><a href="/laravel-bob/docs/usage.html">Usage</a></li>
					<li><a href="/laravel-bob/docs/args.html">Arguments</a></li>
					<li><a href="https://github.com/daylerees/laravel-bob">Source</a></li>
					<li><a href="https://github.com/daylerees/laravel-bob/issues">Issues</a></li>
					<li><a href="/laravel-bob/docs/license.html">License</a></li>					
					<li><a href="/laravel-bob/docs/about.html">About</a></li>
				</ul>

				<h3>Generators</h3>
				<ul class="menu">
					<li><a href="/laravel-bob/docs/generators/controller.html">Controller</a></li>
					<li><a href="/laravel-bob/docs/generators/model.html">Model</a></li>
					<li><a href="/laravel-bob/docs/generators/view.html">View</a></li>
					<li><a href="/laravel-bob/docs/generators/config.html">Config</a></li>
					<li><a href="/laravel-bob/docs/generators/class.html">Class</a></li>
					<li><a href="/laravel-bob/docs/generators/test.html">Test</a></li>
					<li><a href="/laravel-bob/docs/generators/task.html">Task</a></li>
					<li><a href="/laravel-bob/docs/generators/bundle.html">Bundle</a></li>
					<li><a href="/laravel-bob/docs/generators/migration.html">Migration</a></li>																		
				</ul>

				<h3>Other Commands</h3>
				<ul class="menu">
					<li><a href="/laravel-bob/docs/generators/alias.html">Alias</a></li>
					<li><a href="/laravel-bob/docs/generators/install.html">Install</a></li>																	
				</ul>				
			</aside>
			<section class="content span9">
				{{ content }}
			</section>
		</div>
		<footer>
			<p>Copyright &copy; 2012 <a href="http://daylerees.com">Dayle Rees</a>.</p>
			<p>Released under the <a href="/laravel-bob/docs/license.html">MIT License</a>, thanks to <a href="https://github.com/taylorotwell">Taylor Otwell</a>, <a href="http://phills.me.uk/">Phill Sparks</a>, <a href="http://ericlbarnes.com/">Eric Barnes</a> and the Laravel community.</p>
		</footer>
	</div>


	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="/laravel-bob/js/libs/jquery-1.7.1.min.js"><\/script>')</script>
	<script src="/laravel-bob/js/script.js"></script>

	<script>
		var _gaq=[['_setAccount','UA-29652878-1'],['_trackPageview']];
		(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
		g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
		s.parentNode.insertBefore(g,s)}(document,'script'));
	</script>
</body>
</html>
